<div class="card mb-5 mb-xl-10">
  <div
    class="card-header border-0"
    data-bs-toggle="collapse"
    data-bs-target="#kt_account_profile_details"
    aria-expanded="true"
  >
    <div class="card-title m-0">
      <h1 class="fw-bolder m-0">Profile Details</h1>
    </div>
  </div>
  <div id="kt_account_profile_details" class="collapse show">
    <form
      [formGroup]="profileForm"
      (ngSubmit)="saveSettings()"
      class="form"
      novalidate
    >
      <div class="card-body border-top p-9">
        <div class="row mb-6">
          <label class="col-lg-4 col-form-label required fw-bold fs-6"
            >Full Name</label
          >
          <div class="col-lg-8">
            <div class="row">
              <div class="col-lg-6 fv-row">
                <input
                  type="text"
                  class="form-control form-control-lg bg-transparent"
                  placeholder="Name"
                  formControlName="name"
                  [ngClass]="{
                    'is-invalid': profileForm.controls['name'].invalid && !isLoading,
                    'is-valid': profileForm.controls['name'].valid && !isLoading
                  }"
                />
                <ng-container *ngIf="profileForm.controls['name'].invalid">
                  <div class="invalid-feedback">
                    Full Name is required
                  </div>
                </ng-container>
              </div>
            </div>
          </div>
        </div>
        <div class="row mb-6">
          <label class="col-lg-4 col-form-label required fw-bold fs-6"
            >Project Id</label
          >
          <div class="col-lg-8">
            <div class="row">
              <div class="col-lg-6 fv-row">
                <input
                  type="text"
                  class="form-control form-control-lg bg-transparent"
                  placeholder="Project Id"
                  formControlName="projectId"
                  (input)="handleInputChange($event)"
                  [ngClass]="{
                    'is-invalid': profileForm.controls['projectId'].invalid && !isLoading,
                    'is-valid': profileForm.controls['projectId'].valid && !isLoading
                  }"
                />
                <ng-container *ngIf="profileForm.controls['projectId'].invalid">
                  <div class="invalid-feedback">
                    Project Id is required
                  </div>
                </ng-container>
              </div>
            </div>
          </div>
        </div>
        <div class="row mb-6">
          <label class="col-lg-4 col-form-label required fw-bold fs-6"
            >Project Name</label
          >
          <div class="col-lg-8">
            <div class="row">
              <div class="col-lg-6 fv-row">
                <input
                  type="text"
                  class="form-control form-control-lg bg-transparent"
                  placeholder="Project Name"
                  formControlName="projectName"
                  [ngClass]="{
                    'is-invalid': profileForm.controls['projectName'].invalid && !isLoading,
                    'is-valid': profileForm.controls['projectName'].valid && !isLoading
                  }"
                />
                <ng-container *ngIf="profileForm.controls['projectName'].invalid">
                  <div class="invalid-feedback">
                    Project Name is required
                  </div>
                </ng-container>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer d-flex justify-content-end py-6 px-9">
        <button
          type="submit"
          class="btn btn-primary"
          [disabled]="isLoading || profileForm.invalid"
        >
          <ng-container *ngIf="!isLoading">Save Changes</ng-container>
          <ng-container *ngIf="isLoading">
            <span class="indicator-progress">
              Please wait...
              <span
                class="spinner-border spinner-border-sm align-middle ms-2"
              ></span>
            </span>
          </ng-container>
        </button>
      </div>
    </form>
  </div>
</div>
