<div class="card">
  <div class="card-body">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col">
          <div aria-label="Page navigation example" class="mt-6" style="justify-content: center;">
            <ul class="pagination justify-content-center">
              <li class="page-item mr-10">
                <button (click)="previous()" class="page-link" style="color: #007bff; font-size: medium; margin-top: 10px;">Previous</button>
              </li>
              <li class="page-item mr-10">
                <a class="d-flex align-items-center" style="color: #007bff; font-size: x-large;">
                  <span style="white-space: nowrap;">Week {{ currentWeek }} for Year</span>
                  <select (change)="onYearChange($event)" class="form-select ms-2" style="color: #007bff; font-size: x-large;">
                    <option *ngFor="let year of years" [selected]="year === currentYear" [value]="year">{{ year }}</option>
                  </select>
                </a>
              </li>
              <li class="page-item mr-10">
                <button (click)="next()" class="page-link" style="color: #007bff; font-size: medium; margin-top: 10px;">Next</button>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <button class="btn btn-primary mt-5 mb-3" style="background-color: forestgreen;" routerLink="/addtasks">Add Task</button>
    </div>
    <div id="accordion">
      <div *ngFor="let author of weeklyTasksAuthor">
        <div class="card">
          <div id="headingOne" class="text-center">
            <a style="font-size: x-large; font-weight: bold; display: inline-block; margin-top: 10px;">
                {{author}}
            </a>
          </div>
          <div id="customer1" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
              <div class="row">
                  <div *ngFor="let task of weeklyTasks[author].tasks" class="col-sm-6">
                      <div class="card mt-5 mb-5 ml-5">
                        <div class="card-body">
                          <div class="d-flex justify-content-between">
                            <h2 class="card-title">{{task.title}}</h2>
                            <span [ngClass]="task.status === 'Completed' ? 'badge badge-light-success fs-8 fw-bolder' : 'badge badge-light-warning fs-8 fw-bolder'">
                              {{task.status}}
                            </span>
                          </div>
                          <div>
                            <p class="card-text">{{task.description}}</p>
                            <div>
                              <div class="row">
                                  <div class="col">
                                    <button (click)="markAsComplete(author, task)" [disabled]="task.status === 'Completed'" [hidden]="task.status === 'Completed'" class="btn btn-primary mb-3" style="background-color:rgb(0, 172, 114);">
                                      Mark as complete
                                    </button>
                                    <button (click)="deleteWeeklyTask(author, task)" [disabled]="author !== userName" class="btn btn-primary mb-3" style="background-color: crimson;">
                                      Delete Task
                                    </button>
                                  </div>
                                  <div class="col text-end">
                                    <button (click)="navigateToEditTask(task)" [disabled]="author !== userName" class="btn btn-primary mb-3">
                                      Edit Task
                                    </button>
                                  </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                  </div>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>