

<div class="card">
    <div class="card-body">
        <div aria-label="Page navigation example" class="mt-6">
            <ul class="pagination justify-content-start" style="list-style-type: none; display: flex; justify-content: flex-start;">
              <li class="page-item mr-10" >
                <a class="page-link" style="color: #007bff;">Previous</a>
              </li>
              <li class="page-item mr-10">
                <a class="page-link" style="color: #007bff;" href="#">week 1 for Year 1 - Date 2024</a>
              </li>
              <li class="page-item mr-10">
                <a class="page-link" style="color: #007bff;">Next</a>
              </li>
            </ul>
        </div>
        <div id="accordion">
            <div>
              <div class="card">
                <div class="card-header" id="headingOne">
                    <button class="btn btn-link" data-toggle="collapse" data-target="#customer1" aria-expanded="true"
                        aria-controls="customer1">
                        Customer 1
                    </button>
                </div>
          
                <div id="customer1" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                  <div>
                    <div class="row">
                      <div class="col-sm-6">
                        <div class="card mt-5 mb-5 ml-5">
                            <div class="card-body">
                                <h2 class="card-title">Task 1</h2>
                                <div>
                                    <p class="card-text">Task description goes here.</p>
                                    <div class="mb-3">
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="Add Details" aria-label="Add Details" aria-describedby="basic-addon2">
                                        <div class="input-group-append">
                                        <button class="btn btn-outline-secondary" type="button">Update Mandatory Comment</button>
                                        </div>
                                    </div>
                                    </div>
                                    <div>
                                    <button class="btn btn-primary mb-3">Mark as complete</button>
                                    </div>
                                </div>
                                <div class="card-footer bg-transparent border-success">
                                    <div class="mb-3">
                                        <div class="input-group">
                                            <input type="text" class="form-control" placeholder="Add comments" aria-label="Add comments" aria-describedby="basic-addon2">
                                            <div class="input-group-append">
                                            <button class="btn btn-outline-secondary" type="button">Add Comment</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <p><i>John Doe</i> says <b>This is a comment</b> ~ <i>2024-04-02</i></p>
                                        <p><a>remove comment</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
      <!-- <div
        class="stepper stepper-links d-flex flex-column pt-15"
        id="kt_create_account_stepper"
      >
        <div class="stepper-nav mb-5">
          <div
            class="stepper-item"
            [ngClass]="{
              current: currentStep$.value === 1,
              completed: currentStep$.value > 1
            }"
          >
            <h3 class="stepper-title">Account Type</h3>
          </div>
  
          <div
            class="stepper-item"
            [ngClass]="{
              current: currentStep$.value === 2,
              completed: currentStep$.value > 2
            }"
          >
            <h3 class="stepper-title">Account Info</h3>
          </div>
  
          <div
            class="stepper-item"
            [ngClass]="{
              current: currentStep$.value === 3,
              completed: currentStep$.value > 3
            }"
          >
            <h3 class="stepper-title">Business Info</h3>
          </div>
  
          <div
            class="stepper-item"
            [ngClass]="{
              current: currentStep$.value === 4,
              completed: currentStep$.value > 4
            }"
          >
            <h3 class="stepper-title">Billing Details</h3>
          </div>
  
          <div
            class="stepper-item"
            [ngClass]="{ current: currentStep$.value === 5 }"
          >
            <h3 class="stepper-title">Completed</h3>
          </div>
        </div>
  
        <form
          class="mx-auto mw-600px w-100 pt-15 pb-10"
          noValidate
          id="kt_create_account_form"
        >
          <div class="current">
            <ng-container *ngIf="currentStep$.value === 1">
              <app-step1
                class="w-100"
                [updateParentModel]="updateAccount"
                [defaultValues]="account$.value"
              ></app-step1>
            </ng-container>
  
            <ng-container *ngIf="currentStep$.value === 2">
              <app-step2
                class="w-100"
                [updateParentModel]="updateAccount"
                [defaultValues]="account$.value"
              ></app-step2>
            </ng-container>
  
            <ng-container *ngIf="currentStep$.value === 3">
              <app-step3
                class="w-100"
                [updateParentModel]="updateAccount"
                [defaultValues]="account$.value"
              ></app-step3>
            </ng-container>
  
            <ng-container *ngIf="currentStep$.value === 4">
              <app-step4
                class="w-100"
                [updateParentModel]="updateAccount"
                [defaultValues]="account$.value"
              ></app-step4>
            </ng-container>
  
            <ng-container *ngIf="currentStep$.value === 5">
              <app-step5 class="w-100"></app-step5>
            </ng-container>
          </div>
  
          <div class="d-flex flex-stack pt-15">
            <div class="mr-2">
              <ng-container *ngIf="currentStep$.value !== 1">
                <button
                  type="button"
                  class="btn btn-lg btn-light-primary me-3"
                  (click)="prevStep()"
                >
                  <app-keenicon name="arrow-left" class="fs-3 ms-4 me-1"></app-keenicon>
                  Back
                </button>
              </ng-container>
            </div>
  
            <ng-container *ngIf="currentStep$.value !== formsCount">
              <div>
                <button
                  type="button"
                  class="btn btn-lg btn-primary me-3"
                  [disabled]="!isCurrentFormValid$.value"
                  (click)="nextStep()"
                >
                  <span class="indicator-label">
                    <ng-container *ngIf="currentStep$.value < formsCount - 1">
                      Continue {{ " " }}
                      <app-keenicon name="arrow-right" class="fs-3 ms-2 me-0"></app-keenicon>
                    </ng-container>
                    <ng-container *ngIf="currentStep$.value === formsCount - 1">
                      Submit
                    </ng-container>
                  </span>
                </button>
              </div>
            </ng-container>
          </div>
        </form>
      </div> -->
    </div>
  </div>
  