<div class="hover-scroll-overlay-y my-2 my-lg-5 pe-lg-n1" id="kt_aside_menu_wrapper" data-kt-scroll="true" data-kt-scroll-height="auto" data-kt-scroll-dependencies="#kt_aside_logo, #kt_aside_footer" data-kt-scroll-wrappers="#kt_aside, #kt_aside_menu" data-kt-scroll-offset="5px">

  <div class="menu menu-column menu-title-gray-700 menu-state-title-primary menu-state-icon-primary menu-state-bullet-primary menu-arrow-gray-500 fw-bold" id="kt_aside_menu" data-kt-menu="true">

  <div 
    class="menu-item py-3" 
    routerLinkActive="here show"
    data-kt-menu-trigger="click"
    data-kt-menu-placement="right-start"
    routerLink="/dashboard"
  >
    <div
      class="menu-link menu-center"
      routerLinkActive="show">
      <span class="menu-icon me-0">
        <span
        [inlineSVG]="'./assets/media/icons/duotune/art/art002.svg'"
        class="svg-icon svg-icon-2"></span>
      </span>
      <span class="menu-title">Dashboard</span>
    </div>
  </div>

  <div
    class="menu-item py-3"
    data-kt-menu-trigger="click"
    data-kt-menu-placement="right-start"
    routerLinkActive="here show"
  >
    <span class="menu-link menu-center">
      <span class="menu-icon me-0">
        <span
          class="svg-icon svg-icon-2"
          [inlineSVG]="'./assets/media/icons/duotune/general/gen022.svg'">
        </span>
      </span>
      <span class="menu-title">Tasks</span>
    </span>
    <div class="menu-sub menu-sub-dropdown w-225px w-lg-275px px-1 py-4" routerLinkActive="menu-active-bg show">
      <div
        class="menu-item"
        routerLinkActive="here show"
        data-kt-menu-trigger="click"
        routerLink="/weeklytasks">
      <span class="menu-link">
        <span class="menu-bullet"><span class="bullet bullet-dot"></span></span>
        <span class="menu-title" data-link="/crafted/pages/profile">Weekly Tasks</span>
        <span class="menu-arrow"></span>
      </span>
      <!-- <div
          class="menu-sub menu-sub-accordion"
          routerLinkActive="menu-active-bg show"
        >
          <div class="menu-item">
            <a
              class="menu-link"
              routerLinkActive="active"
              routerLink="/crafted/pages/profile/documents"
            ><span class="menu-bullet"
            ><span class="bullet bullet-dot"></span></span
            ><span class="menu-title">Create Weekly Tasks</span></a
            >
          </div>
          <div class="menu-item">
            <a
              class="menu-link"
              routerLinkActive="active"
              routerLink="/crafted/pages/profile/connections"
            ><span class="menu-bullet"
            ><span class="bullet bullet-dot"></span></span
            ><span class="menu-title">Update Weekly Tasks</span></a
            >
          </div>
        </div> -->
      </div>
      <div
        class="menu-item"
        routerLinkActive="here show"
        data-kt-menu-trigger="click"
        routerLink="/monthlytasks">
      <span class="menu-link">
        <span class="menu-bullet"><span class="bullet bullet-dot"></span></span>
        <span class="menu-title" data-link="/crafted/pages/wizards">Monthly Tasks</span>
        <span class="menu-arrow"></span>
      </span>
      <!-- <div
          class="menu-sub menu-sub-accordion"
          routerLinkActive="menu-active-bg show"
        >
          <div class="menu-item">
            <a
              class="menu-link"
              routerLinkActive="active"
              routerLink="/crafted/pages/wizards/horizontal"
            ><span class="menu-bullet"
            ><span class="bullet bullet-dot"></span></span
            ><span class="menu-title">Create Monthly Tasks</span></a
            >
          </div>
          <div class="menu-item">
            <a
              class="menu-link"
              routerLinkActive="active"
              routerLink="/crafted/pages/wizards/vertical"
            ><span class="menu-bullet"
            ><span class="bullet bullet-dot"></span></span
            ><span class="menu-title">Update Monthly Tasks</span></a
            >
          </div>
        </div> -->
      </div>
    </div>
  </div>

  <div
    class="menu-item py-3"
    data-kt-menu-trigger="click"
    data-kt-menu-placement="right-start"
    routerLinkActive="here show"
    routerLink="/goals"
  >
    <span class="menu-link menu-center">
      <span class="menu-icon me-0">
        <span
          class="svg-icon svg-icon-2"
          [inlineSVG]="'./assets/media/icons/duotune/communication/com006.svg'">
        </span>
      </span>
      <span class="menu-title">Goals</span>
    </span>
  </div>

  <div
    class="menu-item py-3"
    data-kt-menu-trigger="click"
    data-kt-menu-placement="right-start"
    routerLinkActive="here show"
  >
    <span class="menu-link menu-center">
      <span class="menu-icon me-0">
        <span
          class="svg-icon svg-icon-2"
          [inlineSVG]="'./assets/media/icons/duotune/general/gen025.svg'">
        </span>
      </span>
      <span class="menu-title">Widgets</span>
    </span>
    <div class="menu-sub menu-sub-dropdown w-225px w-lg-275px px-1 py-4" routerLinkActive="menu-active-bg show">
      <div class="menu-item">
        <a
          class="menu-link"
          routerLinkActive="active"
          routerLink="/crafted/widgets/lists">
        <span class="menu-bullet"><span class="bullet bullet-dot"></span>
        </span>
          <span class="menu-title">Lists</span>
        </a>
      </div>
      <div class="menu-item">
        <a
          class="menu-link"
          routerLinkActive="active"
          routerLink="/crafted/widgets/statistics">
        <span class="menu-bullet"><span class="bullet bullet-dot"></span>
        </span>
          <span class="menu-title">Statistics</span>
        </a>
      </div>
      <div class="menu-item">
        <a
          class="menu-link"
          routerLinkActive="active"
          routerLink="/crafted/widgets/charts">
        <span class="menu-bullet"><span class="bullet bullet-dot"></span>
        </span>
          <span class="menu-title">Charts</span>
        </a>
      </div>
      <div class="menu-item">
        <a
          class="menu-link"
          routerLinkActive="active"
          routerLink="/crafted/widgets/mixed">
        <span class="menu-bullet"><span class="bullet bullet-dot"></span>
        </span>
          <span class="menu-title">Mixed</span>
        </a>
      </div>
      <div class="menu-item">
        <a
          class="menu-link"
          routerLinkActive="active"
          routerLink="/crafted/widgets/tables">
        <span class="menu-bullet"><span class="bullet bullet-dot"></span>
        </span>
          <span class="menu-title">Tables</span>
        </a>
      </div>
      <div class="menu-item">
        <a
          class="menu-link"
          routerLinkActive="active"
          routerLink="/crafted/widgets/feeds">
        <span class="menu-bullet"><span class="bullet bullet-dot"></span>
        </span>
          <span class="menu-title">Feeds</span>
        </a>
      </div>
    </div>
  </div>

  </div>
</div>
