<div class="jumbotron">
  <h1 class="display-6">Dashboard</h1>
  <p class="lead">
    You can now keep track your tasks in an organised and clean way
  </p>
  <hr class="my-4" />
  <div class="row g-5 g-xl-8">
    <div class="col-xl-4">
      <div ngClass="card-xl-stretch mb-xl-8">
        <!-- begin::Header -->
        <div class="card-header border-0">
          <h3 class="card-title fw-bolder text-gray-900">In Progress</h3>
        </div>
        <!-- end::Header -->
        <!-- begin::Body -->
        <ng-container
          *ngIf="
            (userInProgressTasks$ | async)?.length;
            else emptyInProgressTasks
          "
        >
          <ng-container *ngFor="let task of userInProgressTasks$ | async">
            <div class="card-body pt-5">
              <!-- begin::Item -->
              <div class="d-flex align-items-center mb-7">
                <!-- begin::Symbol -->
                <div class="symbol symbol-50px me-5">
                  <span class="symbol-label bg-light-warning">
                    <span
                      [inlineSVG]="
                        './assets/media/icons/duotune/abstract/abs027.svg'
                      "
                      class="svg-icon svg-icon-2x svg-icon-warning"
                    ></span>
                  </span>
                </div>
                <!-- end::Checkbox -->
                <!-- begin::Description -->
                <div class="flex-grow-1">
                  <a
                    (click)="navigateToWeeklyTask(task)"
                    class="text-gray-800 text-hover-primary fw-bolder fs-6"
                    style="cursor: pointer"
                  >
                    {{ task.title }}
                  </a>
                  <span class="text-muted fw-bold"
                    >Due in {{ formatDate(task.duedt) }} days</span
                  >
                  <span class="badge badge-light-warning fs-8 fw-bolder">{{
                    task.status
                  }}</span>
                </div>
                <!-- end:Item -->
              </div>
            </div>
          </ng-container>
        </ng-container>
        <ng-template #emptyInProgressTasks>
          <div class="card-body">
            <p>No tasks in progress</p>
          </div>
        </ng-template>
        <!-- end::Body -->
      </div>
    </div>
    <div class="col-xl-4">
      <div ngClass="card-xl-stretch mb-xl-8">
        <!-- begin::Header -->
        <div class="card-header border-0">
          <h3 class="card-title fw-bolder text-gray-900">Overdue</h3>
        </div>
        <!-- end::Header -->
        <!-- begin::Body -->
        <ng-container
          *ngIf="(userOverdueTasks$ | async)?.length; else emptyOverdueTasks"
        >
          <ng-container *ngFor="let task of userOverdueTasks$ | async">
            <div class="card-body pt-5">
              <!-- begin::Item -->
              <div class="d-flex align-items-center mb-7">
                <!-- begin::Symbol -->
                <div class="symbol symbol-50px me-5">
                  <span class="symbol-label bg-light-danger">
                    <span
                      [inlineSVG]="
                        './assets/media/icons/duotune/abstract/abs027.svg'
                      "
                      class="svg-icon svg-icon-2x svg-icon-danger"
                    ></span>
                  </span>
                </div>
                <!-- end::Symbol -->
                <!-- begin::Text -->
                <div class="d-flex flex-column">
                  <a
                    (click)="navigateToWeeklyTask(task)"
                    class="text-gray-900 text-hover-primary fs-6 fw-bolder"
                    style="cursor: pointer"
                  >
                    {{ task.title }}
                  </a>
                  <span class="text-muted fw-bold"
                    >{{ formatOverdueDate(task.duedt) }} days
                  </span>
                  <span class="badge badge-light-danger fs-8 fw-bolder">{{
                    task.status
                  }}</span>
                </div>
                <!-- end::Text -->
              </div>
              <!-- end::Item -->
            </div>
          </ng-container>
        </ng-container>
        <ng-template #emptyOverdueTasks>
          <div class="card-body">
            <p>No overdue tasks</p>
          </div>
        </ng-template>
        <!-- end::Body -->
      </div>
    </div>
    <div class="col-xl-4">
      <div ngClass="card-xl-stretch mb-xl-8">
        <!-- begin::Header -->
        <div class="card-header border-0">
          <h3 class="card-title fw-bolder text-gray-900">Completed</h3>
        </div>
        <!-- end::Header -->
        <!-- begin::Body -->
        <ng-container
          *ngIf="
            (userCompletedTasks$ | async)?.length;
            else emptyCompletedTasks
          "
        >
          <ng-container *ngFor="let task of userCompletedTasks$ | async">
            <div class="card-body pt-5">
              <!-- begin::Item -->
              <div
                class="d-flex align-items-center badge-light-success rounded p-5 mb-7"
              >
                <!-- begin::Icon -->
                <span class="svg-icon svg-icon-warning me-5">
                  <span
                    [inlineSVG]="
                      './assets/media/icons/duotune/abstract/abs027.svg'
                    "
                    class="svg-icon svg-icon-1"
                  ></span>
                </span>
                <!-- end::Icon -->
                <!-- begin::Title -->
                <div class="flex-grow-1 me-2">
                  <a
                    (click)="navigateToWeeklyTask(task)"
                    class="fw-bolder text-gray-800 text-hover-primary fs-6"
                    style="cursor: pointer"
                  >
                    {{ task.title }}
                  </a>
                  <span class="badge badge-light-success fs-8 fw-bolder">{{
                    task.status
                  }}</span>
                </div>
                <!-- end:Item -->
              </div>
            </div>
          </ng-container>
        </ng-container>
        <ng-template #emptyCompletedTasks>
          <div class="card-body">
            <p>No completed tasks</p>
          </div>
        </ng-template>
        <!-- end::Body -->
      </div>
    </div>
  </div>
</div>
