<div class="jumbotron">
  <h1 class="display-6">Welcome to Team Task Tracker</h1>
  <p class="lead">You can now keep track of all the weekly and monthly activities for your customers. Track individual goals on a yearly basis.</p>
  <hr class="my-4">
  <p>Visit the weekly and monthly task items to update the status of each activity</p>
  <div class="row">
      <div class="col-md-4">
          <div class="alert alert-primary" role="alert">
              <h4 class="alert-heading">Weekly Tasks</h4>
              <hr>
              <div class="list-group">
                  <button type="button" class="list-group-item list-group-item-action"
                      [routerLink]="['/weeklytasks']">
                      WeeklyReminder - Customer 1
                      <span class="badge badge-primary badge-pill">2</span>
                  </button>
              </div>
          </div>
      </div>
      <div class="col-md-4">
          <div class="alert alert-success" role="alert">
              <h4 class="alert-heading">Monthly Tasks</h4>
              <hr>
              <div class="list-group">
                  <button class="list-group-item list-group-item-action"
                      [routerLink]="['/monthlytasks']">
                      MonthlyReminder - Customer 1
                      <span class="badge badge-success badge-pill">2</span>
                  </button>
              </div>
          </div>
      </div>
      <div class="col-md-4">
          <div class="alert alert-primary" role="alert">
              <h4 class="alert-heading">Team Goals</h4>
              <hr>
              <div class="list-group">
                  <button type="button" class="list-group-item list-group-item-action"
                      [routerLink]="['/goals']">
                      Yearlyreminder Customer 1
                      <span class="badge badge-primary badge-pill">3</span>
                  </button>
              </div>
          </div>
      </div>
  </div>
</div>
